@media screen and (min-width:50px) and (max-width:320px) {
    body{
        text-align: center;
        color: antiquewhite;
        background-image: url(./images/z-graphica-aUYcx0CEZW0-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100%;
        /* background-color: yellow; */
        background-color: #6060fdb3;
    }
    section{
        margin-top: 30%;
    }
    main{
        margin: 0%;
    }
    .coverpage{
        height: 199vh;
        width: 100vw;
        background-color: #6060fdb3;
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
   
    footer{
        text-align: center;
        margin-top: 5%;
        width: 100%;
        height: 1%;
    }
    .slideShow{
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 3s ease-in;
    }
    .slideShow img{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
    }
}
@media screen and (min-width: 321px) and (max-width:480px) {
    body{
        text-align: center;
        color: antiquewhite;
        background-image: url(./images/z-graphica-aUYcx0CEZW0-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100%;
        /* background-color: yellow; */
        background-color: #6060fdb3;
    }
    section{
        margin-top: 30%;
    }
    main{
        margin: 0%;
    }
    .coverpage{
        height: 180vh;
        width: 100vw;
        background-color: #6060fdb3;
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
   
    footer{
        text-align: center;
        margin-top: 5%;
        width: 100%;
        height: 1%;
    }
    .slideShow{
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 3s ease-in;
    }
    .slideShow img{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
}
@media screen and (min-width:481px) and (max-width:736px) {
    body{
        text-align: center;
        color: antiquewhite;
        background-image: url(./images/z-graphica-aUYcx0CEZW0-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100%;
        /* background-color: yellow; */
        background-color: #6060fdb3;
    }
    section{
        margin-top: 30%;
    }
    main{
        margin: 0%;
    }
    .coverpage{
        height: 180vh;
        background-color: #6060fdb3;
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
   
    footer{
        text-align: center;
        margin-top: 5%;
        width: 100%;
        height: 1%;
    }
    .slideShow{
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 3s ease-in;
    }
    .slideShow img{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 78%;
    }
}
@media screen and (min-width:737px) and (max-width:840px) {
    body{
        text-align: center;
        color: antiquewhite;
        background-image: url(./images/z-graphica-aUYcx0CEZW0-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100%;
        /* background-color: yellow; */
        background-color: #6060fdb3;
    }
    section{
        margin-top: 30%;
    }
    main{
        margin: 0%;
    }
    .coverpage{
        height: 200vh;
        background-color: #6060fdb3;
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
   
    footer{
        text-align: center;
        margin-top: 5%;
        width: 100%;
        height: 1%;
    }
    .slideShow{
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 3s ease-in;
    }
    .slideShow img{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
}
@media screen and (min-width:841px) and (max-width:980px) {
    body{
        text-align: center;
        color: antiquewhite;
        background-image: url(./images/z-graphica-aUYcx0CEZW0-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100%;
        background-color: #6060fdb3;
    }
    section{
        margin-top: 30%;
    }
    main{
        margin: 0%;
    }
    .coverpage{
        height: 200vh;
        background-color: #6060fdb3;
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
   
    footer{
        text-align: center;
        margin-top: 5%;
        width: 100%;
        height: 1%;
    }
    .slideShow{
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 3s ease-in;
    }
    .slideShow img{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@media screen and (min-width:981px) and (max-width:3280px)  {
    body{
        text-align: center;
        color: antiquewhite;
        background-image: url(./images/z-graphica-aUYcx0CEZW0-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100%;
        background-color: #6060fdb3;
    }
    section{
        margin-top: 30%;
    }
    main{
        margin: 0%;
    }
    .coverpage{
        height: 190vh;
        background-color: #6060fdb3;
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
   
    /* footer{
        text-align: center;
        margin-top: 0%;
        width: 100%;
        height: 1%;
    } */
    .slideShow{
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 3s ease-in;
    }
    .slideShow img{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120%;
    }
}
/* @media screen and (max-width:1680px) {
    body{
        text-align: center;
        color: antiquewhite;
        background-image: url(./images/z-graphica-aUYcx0CEZW0-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100%;
        background-color: #6060fdb3;
    }
    section{
        margin-top: 15%;
    }
    main{
        margin: 0%;
    }
    .coverpage{
        width: 100vw;
        height: 200vh;
        background-color: #6060fdb3;
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
    footer{
        text-align: center;
        margin-top: 0%;
        width: 100%;
        height: 1%;
    }
    .slideShow{
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 3s ease-in;
    }
    .slideShow img{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .col-6.col-12-mobilep{
        padding: 1%;
    }
    .col-12{
        padding: 1%;
    }
    .row.gtr-50{
        width: 80%;
    }
} */
*{
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
}
html{
    overflow-x: hidden;
}
main{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
}
body{
    color: antiquewhite;
    background-image: url(./images/z-graphica-aUYcx0CEZW0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}
footer{

    color: #000000;
    background-color: white;
    height: 5vh;
    max-width: 100%;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
form{
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000000;
}
/* Form */

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    background: #fff;
    border: solid 1px #e0e0e0;
    border-radius: 5px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0.75em;
    text-decoration: none;
    width: 100%;
}

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        border-color: #37c0fb;
    }

label {
    display: block;
    color: inherit;
    font-weight: 600;
    line-height: 1.75em;
    margin-bottom: 0.5em;
}

::-webkit-input-placeholder {
    color: #000000;
    position: relative;
    top: 3px;
}

:-moz-placeholder {
    color: #000000;
}

::-moz-placeholder {
    color: #000000;
}

:-ms-input-placeholder {
    color: #000000;
}
article{
    margin: auto;
    padding: 2%;
    
}
.imageframe{
    width: 250px;
    position: relative;
    margin: auto;
}
.imageBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;

}

/* recent comment out */
.slideShow img:first-child {
    opacity: 1;
  }
  
  .slideShow img.active {
    opacity: 1;
  }
/* fading animation */
.fade{
    animation-name: fade;
    animation-duration: 10s;
}
@keyframes fade{
    from {opacity: .5;}
    to {opacity: 1;}
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 4rem;
}
p{  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
h3{
    font-size: 1.8rem;
}
h5{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .col-6.col-12-mobilep{
        padding: 1%;
    }
    .col-12{
        padding: 1%;
    }
    .row.gtr-50{
        width: 100%;
    }